beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
cssselect==1.4.0
et_xmlfile==2.0.0
idna==3.13
jmespath==1.1.0
lxml==6.1.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
parsel==1.11.0
python-dateutil==2.9.0.post0
requests==2.33.1
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
w3lib==2.4.1
